<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.school_management.mapper.DepartmentMapper">
    <select id="getDepartmentInfo" resultType="com.greenart.school_management.data.DepartmentVO">
        select * from department_info where di_name like #{keyword}
        order by di_seq desc
        limit 10 offset #{offset}
    </select>
    <select id="getDepartmentCount" resultType="java.lang.Integer">
        select count(*) from department_info where di_name like #{keyword}
    </select>
    <insert id="addDepartment">
        insert into department_info(di_name, di_graduate_score, di_status)
        values(#{di_name}, #{di_graduate_score}, #{di_status})
    </insert>
    <delete id="deleteDepartment">
        delete from department_info where di_seq=#{seq}
    </delete>
    <select id="getDepartmentInfoBySeq" resultType="com.greenart.school_management.data.DepartmentVO">
        select * from department_info where di_seq = #{seq}
    </select>
    <update id="updateDepartment">
        update department_info 
        set di_name=#{di_name}, di_graduate_score=#{di_graduate_score}, di_status=#{di_status}, di_mod_dt=NOW()
        where di_seq=#{di_seq}
    </update>
    <select id="selectLatestDataSeq" resultType="java.lang.Integer">
        select di_seq from department_info
        order by di_seq desc limit 1
    </select>
    <insert id="insertDepartmentHistory">
        INSERT INTO school_work_db.department_history(deph_type, deph_content, deph_di_seq)
        VALUES(#{deph_type}, #{deph_content}, #{deph_di_seq})
    </insert>

    <select id="getDepartmentByKeyword" resultType="com.greenart.school_management.data.DepartmentVO">
        select di_seq, di_name, di_status from department_info where di_name like #{keyword}
    </select>
</mapper>