/* department_list.css */
main {background-color: #f3f3f3; position: relative;}
main > h1 {font-size: 36px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #ddd;}
#add_department {position: absolute; right: 35px; top: 30px; border: 0; background-color: #999; color: #fff;
    width: 170px; height: 40px; border-radius:5px; font-size: 14px; font-weight: 300; cursor:pointer;}
#add_department i {margin-right:5px;}
#add_department:hover {background-color: #333;}
.search_box {background-color: #fff; display: inline-block; vertical-align: middle;
    padding:10px 20px; border-radius: 99px; margin-right: 20px;}
.search_box input {border: 0; padding: 0; margin: 0; outline: none; color: #434343;}
.search_box input::placeholder {color: #ccc;}
.search_box button {color: #333; border: 0; padding: 0; margin: 0; background-color: transparent; outline:none; cursor:pointer;}
#reset_btn {border: 0; background-color: rgb(103, 103, 124); color: #fff; width:80px; height:35px;
    border-radius: 99px; cursor: pointer;}
#reset_btn:hover {background-color: rgb(18, 18, 68);}
.table_area table {width: 100%; margin-top: 30px; border-collapse: separate; border-spacing: 0 15px;}
.table_area td {text-align: center;}
.table_area th {color: #999; font-weight: 400; padding:20px 0; padding-bottom: 5px;}
.table_area tbody tr {padding-bottom: 10px; box-shadow: 0 0 3px rgba(0,0,0,0.05);}
.table_area tbody td {padding:20px 0; background-color: #fff; margin-bottom: 10px; font-size: 14px; color: #333;}
.table_area tbody td:first-child {border-radius: 5px 0 0 5px;}
.table_area tbody td:last-child {border-radius: 0 5px 5px 0;}
.table_area tbody td button {margin:0 8px; background-color: transparent; border: 0; padding: 0; font-size: 20px; cursor:pointer}
.modify_btn {color: rgb(73, 73, 93);}
.delete_btn {color: rgb(224, 81, 81);}
.pager_area { text-align: center; padding-top: 30px;}
.pagers {display: inline-block; vertical-align: middle;}
.pager_area button {vertical-align: middle; display: inline-block; padding: 0; background-color: transparent; border: 0; margin:10px; 
    position: relative; top: 2px; font-size: 20px; color: #434343; cursor:pointer}
.pagers a {color: #555; text-decoration: none; margin: 10px;}
.pagers a.current {color: #000; text-decoration: underline; font-weight: 700;}






